@model IEnumerable<LessIsMoore.Web.Models.NewsFeed>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{ 

<style>
    .divNews {
        overflow: hidden;
        font-size: .8em;
        width: 100% !important;
        text-align: center;
    }

        .divNews #divNewsFeeds {
            width: 100%;
            background: lightgray;
            color: black;
            border-radius: 1em;
            border: solid grey 2px;
            margin-bottom: 15px;
            opacity: .95;
            padding:10px;
        }

        .divNews #divNewsFeeds .divNewsFeed {
            width: 100%;
            position:relative;
            padding-top:5px;
        }

        .divNews .divNewsFeed img {
            width: 300px;
            height: 180px;
        }

        .divNews .divNewsFeed > div:first-child {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .divNews .divNewsFeed .aReadMore {
            font-style: italic !important;
            font-size: .8em !important;
        }

        .divNews .divNewsFeed .divDivider {
            width: 90%;
            height: 1px;
            background: grey;
            position: relative;
            left: 5%;
            margin: 10px 0px 10px 0px;
        }

        .divNews .divNewsFeed:last-child .divDivider  {
            display:none;
        }
</style>

}

    <!-- One -->
    <section id="one" class="main style1">

        <div class="container">
            <div class="row 150%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2 translate-text>Passion</h2>
                    </header>
                    <p translate-text>
                        Thanks for visiting! I'm thankful to have a career as a Microsoft Software Developer, a hobby involving running/track & field, and a passion for helping others
                        using the abilities that God has blessed me with. This site will showcase those abilities and hopefully educate and/or entertain my guests. I'm far from an expert,
                        (don't get fooled by the fancy site) but I try to to get better a day at a time. <br /><br />This site is under development, but keep visiting to see more updates.<br /> --Tim
                    </p>
                </div>
                <div class="6u$ 12u$(medium) important(medium)">
                    <span class="image fit"><img src="images/pic01.jpg" alt="" /></span>
                </div>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="main style2">
        <div class="container">
            <div class="row 150%">
                @*<div class="6u 12u$(medium)">
                    <ul class="major-icons">
                        <li><span class="icon style1 major fa-code"></span></li>
                        <li><span class="icon style2 major fa-bolt"></span></li>
                        <li><span class="icon style3 major fa-camera-retro"></span></li>
                        <li><span class="icon style4 major fa-cog"></span></li>
                        <li><span class="icon style5 major fa-desktop"></span></li>
                        <li><span class="icon style6 major fa-calendar"></span></li>
                    </ul>
                </div>*@
                <script>
                    $(function () {
                        $('.divNewsFeed a').not(".aReadMore").each(function () {
                            $(this).replaceWith(this.innerHTML);
                        })
                    })

                </script>

                <div class="6u$ 12u$(medium) divNews">

                    <div style="margin-bottom:10px;">
                        <h4>App Service on Linux @*(<a href="https://www.twitter.com/docjamesw" target="_blank">@@docjamesw</a>)*@</h4>
                        <iframe src="https://channel9.msdn.com/Shows/Azure-Friday/App-Service-on-Linux/player?format=html5"
                                width="960" height="540" allowFullScreen sandbox="allow-scripts" frameBorder="0" style=" border:grey 3px solid; 
                                box-shadow: 10px 10px 5px black;"></iframe>
                    </div>

                    <header class="major">
                        <h3 style="font-size: 1.5em;" translate-text>Tech News</h3>
                    </header>

                    <div id="divNewsFeeds">
                        @{
                            foreach (LessIsMoore.Web.Models.NewsFeed NewsFeed in Model)
                            {
                                <div class="divNewsFeed">
                                    <div>@NewsFeed.Headline</div>
                                    <div>@Html.Raw(NewsFeed.Content)</div>
                                    <a class="aReadMore" href="@NewsFeed.Link" target="_blank">Source: @NewsFeed.Source</a>
                                    <div class="divDivider"></div>
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="main style1 special">
        <div class="container">
            <header class="major">
                <h2 translate-text>My Development Skills</h2>
            </header>
            <p>Difficult Takes a Day, Impossible Takes a Week</p>
            <div class="row 150% divSkills">
                <div class="4u 12u$(medium)">
                    <span class="image fit"><img src="images/visual-studio.png" alt="" /></span>
                    <h3 translate-text>ASP.Net Web Development</h3>
                </div>
                <div class="4u 12u$(medium)">
                    <span class="image fit"><img src="images/HTML5.png" alt="" /></span>
                    <h3 translate-text>Client Styling & Development</h3>
                </div>
                <div class="4u$ 12u$(medium)">
                    <span class="image fit"><img src="images/sql_server.png" style="height:250px;" alt="" /></span>
                    <h3 translate-text>Database Design & Coding</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="main style2 special">
        <div class="container">
            <header class="major">
                <h2 style="font-size: 1.5em;" translate-text >
                    <i>"Be strong and of 
                    courage, do not fear nor be afraid of them; for the Lord your God, He is the One who goes with you. He will not leave you nor forsake you.”</i>
                    --Deuteronomy 31:6
                </h2>
            </header>
        </div>
    </section>
