@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{

}
<script>

</script>
<style>

    #divWorkoutEntry {
        padding: 25px;
    }

        #divWorkoutEntry > * {
            display: block;
            margin-bottom: 10px;
            width: 100%;
        }

    .divSavedWorkout {
        display: inline-block;
        width: 300px;
    }

    #divLogin {
        width: 20%;
        margin-left: 40%;
        padding: 25px 0px 25px 0px;
    }
    #divLogin > input {
        width:90%;
    }
</style>
<!-- One -->
<section id="one" class="main style1" ng-controller="appController as ctrl">

    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "form1" }))
    {
        <div id="divLogin">
            <h4>LessIsMoore | Login</h4>
            <input id="txtUserName" name="txtUserName" type="text" placeholder="UserName" />
            <input id="txtPassword" name="txtPassword" type="text" placeholder="Password" />
            <input type="submit" value="Login" />
        </div>
    }


</section>
